@use '../components/vars' as vars;
@use '../components/common';
@use '../components/header';
@use '../components/article--content--list';



$articleColor: #444444;
$articleBGColor: #EEEEEE;

#articles {

    &--title {
        color: $articleColor;
        background-color: $articleBGColor;
    }

}

.article--content {

    &--category {
        display: inline-block;
        color: $articleColor;
        background-color: $articleBGColor;
        font-size: 0.9rem;
        text-align: center;
        $padding: 0.5rem;
        padding-left: $padding;
        padding-right: $padding;
    }    
}
