@use '../components/vars' as vars;
@use '../components/common';
@use '../components/header';
@use '../components/article-box--list';





#articles {

    &--title {
        color: vars.$articleColor;
        background-color: vars.$articleBGColor;
        $padding: 0.3rem;
        padding-left: $padding;
        padding-right: $padding;
    }

}

.article--content {

    &--category {
        display: inline-block;
        color: vars.$articleColor;
        background-color: vars.$articleBGColor;
        font-size: 0.9rem;
        text-align: center;
        $padding: 0.5rem;
        padding-left: $padding;
        padding-right: $padding;
    }    
}
