@use '../components/common';
@use '../components/vars' as vars;
@use '../components/header';
@use '../components/article--content';


#article {
    
    &--title {
        display: inline-block;
        color: vars.$articleColor;
        background-color: vars.$articleBGColor;
        margin-top: 2rem;
        font-size: 1.2rem;
    }

    &--content {
        margin-top: 3rem;
        margin-bottom: 4rem;
    }

    .link-to-articleList {
        font-size: 0.8rem;
    
        p {
            margin-block-start: 0;
        }
    
        p > a {
            text-decoration: underline;
        }
    }
}


