@use '../components/vars' as vars;

@use '../components/common';

@use '../components/header';

@use '../components/searchBox';

@use '../components/page_switch';

.nav-box {
    display: inline-block;
    border: solid 2px vars.$baseColor;
    border-radius: 1rem;
    cursor: pointer;
    width: 15rem;
    font-size: 0.8rem;
    color: white;
    padding: 1rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.gt {
    float: right;
}

// index

$topFontSize: 0.75rem;



#introduce--container{
    background: url(/asset/img/680806_s.jpg) center center no-repeat ;
    background-size: 100% 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    color:white;
    text-shadow: 0.1rem 0.1rem 0.2rem black;


    &:before{
        content: '';
        background: inherit;
        -webkit-filter: blur(0.3rem);
        -moz-filter: blur(0.3rem);
        -o-filter: blur(0.3rem);
        -ms-filter: blur(0.3rem);
        filter: blur(0.3rem);
        position: absolute;
        top: -0.3rem;
        left: -0.3rem;
        right: -0.3rem;
        bottom: -0.3rem;
        z-index: -1;
    }
}




#introduce {
    border: none;
    background-color: transparent;

    &--top {
        font-size: $topFontSize;
        font-weight: bold; 

        &--main {
            font-size: 2em;
            color:white;
        }
        
        &--explaination {
            width: 90%;
            display: inline-block;
        }

    }

    &--double{
        margin-right: 1rem;
       
        &--box{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            text-align: left;
            
            &--left{
                margin: auto;
                &--nav-to-search{
                
                    background-color:vars.$baseColor;
                }
            }

            &--right{
                margin: auto;
                &--nav-to-article{
                
                    background-color:vars.$baseColor;
                }
            }



        }

        


    }




    &--main{
        text-align: left;
        font-size: $topFontSize;
        margin-top: 1.5rem;

        li {
            list-style: disc;
            margin: 0.5rem;
        }

        .nav-title {
            display: inline-block;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 2px;

            p {
                border-bottom: double 3px vars.$baseColor;
            }
        }
    }
}


#howto--main {
    font-size: $topFontSize;

    li {
        list-style-type: disc;
        margin-top: 1rem;
    }
}

