@use '../components/vars' as vars;

@use '../components/common';

@use '../components/header';

@use '../components/searchBox';

@use '../components/page_switch';

@use '../components/article--content--list';


// result
#recommend-articles {
    font-size: 0.8rem;

    li {
        list-style: disc;
        text-decoration: underline;
    }

}


#link-to-articleList {
    font-size: 0.8rem;
    text-decoration: underline;
}


#followingLink-to-searchbox {
    position: fixed;
    width: 60vw;
    padding: 0.5rem;
    color: white;
    background-color: vars.$baseColor;
    transition: all 0.4s;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;

    &.hidden {
        transform: translateY(100px);
        opacity: 0;
    }

    &.fixed {
        transform: translateY(0);
        opacity: 1;
    }
}


#tab-area {
    display: flex;
    cursor: pointer;

    .tab {
        border: 1px solid vars.$baseColor;
        border-radius: 10px 10px 0 0;
        margin: 1px;
        color: vars.$lightColor;
        font-size: 1rem;
        $padding: 0.5rem;
        padding-left: $padding;
        padding-right: $padding;
    }

    .tab.active {
        background-color: vars.$baseColor;
        color: white;
    }

    &--explain {
        font-size: 0.7rem;
        padding-top: 0.2rem;
    }
}


#result {
    border: 2px solid vars.$baseColor;

    $resultLRPadding: 0.5rem;

    &--container {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: $resultLRPadding;
        padding-right: $resultLRPadding;

        .subTitle {
            padding-left: vars.$mainBoxPadding - $resultLRPadding;
        }
    }

    .tab-content {
        display: none;
    }

    .tab-content.show {
        display: block;
        font-size: 0.5rem;
        padding: 0.5rem;
        background-color: transparent;

        .no-result {
            font-size: 0.7rem;
        }

        .total {
            font-size: 0.8rem;
        }

        .supportBox {
            $borderColor: #cccccc;
            border: 1px solid $borderColor;
            box-shadow: 0px 0px 2px;
            margin-bottom: 1rem;
            padding: 2px;
            background-color: white;

            .owner {
                border-bottom: 1px solid $borderColor;
            }

            table, td{
                border: 1px solid $borderColor;
                border-collapse: collapse;
                font-size: 0.6rem;
            }

            table, tr{
                width: 100%;
            }

            .td-column {
                width: 20%;
            }
            .td-content {
                width: 80%;
            }

        }
    }

    .link-to-searchbox {
        font-size: 0.8rem;
    }

}
