@charset "UTF-8";
/*スマホ*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 11px;
  }
}
/*タブレット*/
@media screen and (min-width: 481px) and (max-width: 1024px) {
  html {
    font-size: 18px;
  }
}
/*pc*/
@media screen and (min-width: 1025px) {
  html {
    font-size: 22px;
  }
}
* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  margin: 0;
}

main {
  background-color: #CBFFD3;
  padding-top: 2rem;
  padding-bottom: 7rem;
}

/*sp*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  .main--single, .main--double {
    width: 80vw;
  }

  .main--double--right {
    width: 100%;
  }
}
/*タブレット*/
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .main--single, .main--double {
    width: 90vw;
  }

  .main--double--right {
    width: 60%;
    margin-left: 5%;
  }
}
/*pc*/
@media screen and (min-width: 1025px) {
  .main--single, .main--double {
    width: 70vw;
  }

  .main--double--right {
    width: 60%;
    margin-left: 5%;
  }
}
/*main*/
.main--single {
  display: inline-block;
  border: solid 2px #009900;
  border-radius: 1rem;
  overflow-wrap: break-word;
  background-color: white;
  padding: 1.5rem;
  margin-top: 2rem;
  text-align: left;
}

.main--double {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: left;
}
.main--double--left {
  display: block;
  border: 2px solid #009900;
  border-radius: 1rem;
  text-align: center;
  background-color: white;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.main--double--right {
  border: solid 2px #009900;
  border-radius: 1rem;
  background-color: white;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.subTitle {
  font-size: 1.2rem;
}

.larger {
  font-size: 1.7em;
}

.bold {
  font-weight: bold;
}

.lighter {
  font-weight: lighter;
}

.red {
  color: red;
}

.green {
  color: green;
}

.black {
  color: black;
}

.break-word {
  overflow-wrap: break-word;
}

.block-start0 {
  margin-block-start: 0;
}

.block-end0 {
  margin-block-end: 0;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.fixed {
  position: fixed;
  left: 0;
  right: 0;
}

#article--content, .editor-preview {
  font-size: 0.8rem;
  overflow-wrap: break-word;
}
#article--content .red, .editor-preview .red {
  color: red;
}
#article--content a, .editor-preview a {
  color: blue;
}
#article--content a:hover, .editor-preview a:hover {
  text-decoration: underline;
}
#article--content h1, #article--content h2, #article--content h3, #article--content h4, .editor-preview h1, .editor-preview h2, .editor-preview h3, .editor-preview h4 {
  font-size: 1rem;
  border-bottom: 1px solid #ddd;
}
#article--content li, .editor-preview li {
  list-style: disc !important;
}

body {
  padding: 2rem;
  padding-bottom: 5rem;
  font-size: 18px;
}

input, select {
  font-size: inherit;
}
input.invalid, select.invalid {
  border: red solid 5px;
}

.invalid-note {
  display: none;
  color: red;
  text-decoration: underline double red;
}
.invalid-note.show {
  display: block;
}

#oldThumbnail {
  height: 100px;
  width: 100px;
}

#oldThumbnailName {
  display: none;
}

#newThumbnail-uploader {
  display: inline;
}
#newThumbnail-uploader.hidden {
  display: none;
}

.buttons {
  display: inline-block;
  margin: 10px;
  border: black solid 1px;
  background-color: #eeeeee;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}
.buttons:hover {
  background-color: #dddddd;
}

#submit-button {
  font-size: 1.5em;
}

/*# sourceMappingURL=edit.css.map */
