/*スマホ*/
@media screen and (min-width: 320px) and (max-width: 480px){
    html{
        font-size: 13px;
    }
}

/*タブレット*/
@media screen and (min-width: 481px) and (max-width: 1024px){
    html{
        font-size: 18px;
    }  
}


/*pc*/
@media screen and (min-width: 1025px){
    html{
        font-size: 22px;
    }
}

* {
    box-sizing: border-box;
}

li{
    list-style: none;
    
}

a {
    text-decoration: none;
}




/*header*/
#title-container {
    background-color: white;  
    color:black;
    height: 4rem;
    padding: 1rem;
}
    
#title{
    margin-block-start: 0;
    margin-block-end: 0;
}

#header-menu-container{
    background-color: #009900;  
    display: flex;
    flex-wrap: wrap;
}

.header-menu-items {
    margin-block-start: 2px;
    margin-block-end: 2px;
}

.header-menu-items a{
    margin:1rem;
    font-size: 0.9rem;
    color:white;
}


body {
    background-color: #CBFFD3;
    margin: 0;
}


/*common design*/

.bold {
    font-weight: bold;
}

.red{
    color:red;
   
}

.break-word {
    overflow-wrap: break-word;
}

.block-start0{
    margin-block-start: 0;
}

.block-end0{
    margin-block-end: 0;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.inline-block{
    display: inline-block;
}
