@media(max-width: 1000px){
    html{
    font-size:10px;

    }
    
}

@media(max-width: 670px){
    html{
        font-size:5px;
    }

    
    }

}

@media(min-width: 1001px){
    html{
        font-size:15px;
    
    }

}


li{
    list-style: none;
    
}

header{
    background-color: rgb(0, 89, 255);  
    color:white;
    height:6rem;
}
    
.header-logo{
    font-size:3rem;
    float: left;
    margin:1rem ;
    
}

footer{
    background-color: rgb(0, 89, 255);  
    color:white;
    height:6rem;

}

.footer-list li{
    margin:2.5rem;
    font-size:1rem;
    float:left;
}
