
#search-box-container{
    border: 2px solid #009900;
    border-radius: 1rem;
    width: 85vw;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    background-color: white;
}

#search-box{
    display: inline-flex;
    text-align: left;
    flex-wrap: wrap;
    justify-content: space-between;
}

#search-box--title {
    text-align: left;
    font-weight: bold;
    margin-left: 1rem;
}


.search-items {
    font-size: 0.7rem;
    margin: 0.5vw;
}

.search-items select,input{
    font-size: 0.6rem;
}

.search-items select {
    width: 25vw;
}

#is_only_foreign_ok-container {
    text-align: left;
    padding-left: 2rem;
}

#is_only_foreign_ok--label{
    font-size: 0.7rem;
}

#search-button{
    margin: 1rem;
}

#submit {
    font-size: 1rem;
}





