
@use './components/vars' as vars;

@use './components/common';

@use './components/header';

@use './components/searchBox';

@use './components/page_switch';

@use './components/article--content--list';

/*sp*/
@media screen and (min-width: 320px) and (max-width: 480px){
    .main--single, .main--double{
        width: 80vw;
    }
    .main--double--right {
        width: 100%;
    }
}

/*タブレット*/
@media screen and (min-width: 481px) and (max-width: 1024px){
    .main--single, .main--double {
        width: 90vw;
    }
    .main--double--right {
        width: 60%;
    }
}

/*pc*/
@media screen and (min-width: 1025px){
    .main--single, .main--double {
        width: 70vw;
    }
    .main--double--right {
        width: 60%;
    }
}


.main--single{
    display: inline-block;
    border: solid 2px vars.$baseColor;
    border-radius: 1rem;
    overflow-wrap: break-word;
    background-color: white;
    padding: 1rem;
    margin-top: 2rem;
}

.main--double{
    display: inline-flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: left;

    &--right{
        border: solid 2px vars.$baseColor;
        border-radius: 1rem;
        background-color: white;
        margin-top: vars.$main--doubleMarginTop;
        padding: 0.5rem;
    }
}

.subTitle {
    font-size: vars.$subTitleFontSize;
}


// index
#introduce--main {
    margin: auto;
    font-size: 0.75rem;

    li {
        list-style: disc;
    }
}

#howto--main {
    font-size: 0.75rem;

    li {
        list-style-type: disc;
        margin: 1rem;
    }
}


// result
#recommend-articles {
    font-size: 0.8rem;

    li {
        list-style: disc;
        text-decoration: underline;
    }

}


#link-to-articleList {
    font-size: 0.8rem;
    text-decoration: underline;
}




#tab-area {
    display: flex;
    cursor: pointer;

    .tab {
        border: 1px solid vars.$baseColor;
        border-radius: 10px 10px 0 0;
        margin: 1px;
        color: vars.$lightColor;
        font-size: 0.85rem;
        $padding: 0.5rem;
        padding-left: $padding;
        padding-right: $padding;
    }

    .tab.active {
        background-color: vars.$baseColor;
        color: white;
    }

    &--explain {
        font-size: 0.7rem;
        padding-top: 0.2rem;
    }
}


#result {
    border: 2px solid vars.$baseColor;

    .tab-content {
        display: none;
    }

    .tab-content.show {
        display: block;
        font-size: 0.5rem;
        padding: 0.5rem;
        background-color: transparent;

        .no-result {
            font-size: 0.7rem;
        }

        .total {
            font-size: 0.8rem;
        }

        .supportBox {
            $borderColor: #cccccc;
            border: 1px solid $borderColor;
            box-shadow: 0px 0px 2px;
            margin-bottom: 1rem;
            padding: 2px;
            background-color: white;

            .owner {
                border-bottom: 1px solid $borderColor;
            }

            table, td{
                border: 1px solid $borderColor;
                border-collapse: collapse;
                font-size: 0.6rem;
            }

            table, tr{
                width: 100%;
            }

            .td-column {
                width: 20%;
            }
            .td-content {
                width: 80%;
            }

        }
    }

    .link-to-searchbox {
        font-size: 0.8rem;
    }

}
