
@use './components/vars' as vars;

@use './components/common';

@use './components/header';

@use './components/searchBox';

@use './components/page_switch';

/*sp*/
@media screen and (min-width: 320px) and (max-width: 480px){
    .main--upper, .main--lower{
        width: 95vw;
    }
}

/*タブレット*/
@media screen and (min-width: 481px) and (max-width: 1024px){
    .main--upper, .main--lower {
        width: 80vw;
    }
}

/*pc*/
@media screen and (min-width: 1025px){
    .main--upper, .main--lower {
        width: 70vw;
    }
}


.main--upper{
    display: inline-block;
    border: solid 2px vars.$baseColor;
    border-radius: 1rem;
    overflow-wrap: break-word;
    background-color: white;
    padding: 1rem;
}

.main--lower{
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    margin-top: 1rem;

    &--right{
        border: solid 2px vars.$baseColor;
        border-radius: 1rem;
        background-color: white;
        width: 68%;
        padding: 0.5rem;
    }
}


// index
#introduce--main {
    margin: auto;
    font-size: 0.75rem;

    li {
        list-style: disc;
    }
}

#howto--main {
    font-size: 0.75rem;

    li {
        list-style-type: disc;
        margin: 1rem;
    }
}


// result
#recommend-articles {
    font-size: 0.8rem;

    li {
        list-style: disc;
        text-decoration: underline;
    }
}


#link-to-articleList {
    font-size: 0.7rem;
    text-decoration: underline;
}


#tab-area {
    display: flex;
    cursor: pointer;

    .tab {
        border: 1px solid vars.$baseColor;
        border-radius: 10px 10px 0 0;
        margin: 1px;
        color: vars.$lightColor;
        font-size: 0.85rem;
        $padding: 0.5rem;
        padding-left: $padding;
        padding-right: $padding;
    }

    .tab.active {
        background-color: vars.$baseColor;
        color: white;
    }
}


#result {
    border: 2px solid vars.$baseColor;

    .tab-content {
        display: none;
    }

    .tab-content.show {
        display: block;
        font-size: 0.5rem;
        padding: 0.5rem;
        background-color: transparent;

        .total {
            font-size: 0.8rem;
        }

        .supportBox {
            $borderColor: #cccccc;
            border: 1px solid $borderColor;
            margin-bottom: 0.5rem;
            padding: 2px;
            background-color: white;

            .owner {
                border-bottom: 1px solid $borderColor;
            }

            table, td{
                border: 1px solid $borderColor;
                border-collapse: collapse;
                font-size: 0.6rem;
            }

            table, tr{
                width: 100%;
            }

            .td-column {
                width: 20%;
            }
            .td-content {
                width: 80%;
            }

        }
    }


}
