@use '../components/common';
@use '../components/article--content';

body {
    padding: 2rem;
    padding-bottom: 5rem;
    font-size: 18px;
}

input, select{
    font-size: inherit;

    &.invalid {
        border: red solid 5px;
    }
}




.invalid-note {
    display: none;
    color: red;
    text-decoration: underline double red;

    &.show {
        display: block;
    }
}

#oldThumbnail {
    $size: 100px;
    height: $size;
    width: $size;
}

#oldThumbnailName {
    display: none;
}

#newThumbnail-uploader {
    display: inline;

    &.hidden {
        display: none;
    }
}

.buttons {
    display: inline-block;
    margin: 10px;
    border: black solid 1px;
    background-color: #eeeeee;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;

    &:hover {
        background-color: #dddddd;
    }
}

#submit-button {
    font-size: 1.5em;
}

