@charset "UTF-8";
/*スマホ*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 11px;
  }
}
/*タブレット*/
@media screen and (min-width: 481px) and (max-width: 1024px) {
  html {
    font-size: 18px;
  }
}
/*pc*/
@media screen and (min-width: 1025px) {
  html {
    font-size: 22px;
  }
}
* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  margin: 0;
}

main {
  background-color: #CBFFD3;
  padding-top: 2rem;
  padding-bottom: 7rem;
}

/*sp*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  .main--single, .main--double {
    width: 80vw;
  }

  .main--double--right {
    width: 100%;
  }
}
/*タブレット*/
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .main--single, .main--double {
    width: 90vw;
  }

  .main--double--right {
    width: 60%;
    margin-left: 5%;
  }
}
/*pc*/
@media screen and (min-width: 1025px) {
  .main--single, .main--double {
    width: 70vw;
  }

  .main--double--right {
    width: 60%;
    margin-left: 5%;
  }
}
/*main*/
.main--single {
  display: inline-block;
  border: solid 2px #009900;
  border-radius: 1rem;
  overflow-wrap: break-word;
  background-color: white;
  padding: 1.5rem;
  margin-top: 2rem;
  text-align: left;
}

.main--double {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: left;
}
.main--double--left {
  display: block;
  border: 2px solid #009900;
  border-radius: 1rem;
  text-align: center;
  background-color: white;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.main--double--right {
  border: solid 2px #009900;
  border-radius: 1rem;
  background-color: white;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.subTitle {
  font-size: 1.2rem;
}

.larger {
  font-size: 1.7em;
}

.bold {
  font-weight: bold;
}

.lighter {
  font-weight: lighter;
}

.red {
  color: red;
}

.green {
  color: green;
}

.black {
  color: black;
}

.break-word {
  overflow-wrap: break-word;
}

.block-start0 {
  margin-block-start: 0;
}

.block-end0 {
  margin-block-end: 0;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.fixed {
  position: fixed;
  left: 0;
  right: 0;
}

#header {
  position: fixed;
  width: 100vw;
  top: 0;
  margin: auto;
}

#dummy-header {
  background-color: #CBFFD3;
}

/*スマホ*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  #title--left {
    margin-left: 10vw;
  }
  #title--right {
    margin-right: 10vw;
  }

  #link-to-top {
    margin-left: 10vw;
  }
}
/*タブレット*/
@media screen and (min-width: 481px) and (max-width: 1024px) {
  #title--left {
    margin-left: 5vw;
  }
  #title--right {
    margin-right: 5vw;
  }

  #link-to-top {
    margin-left: 5vw;
  }
}
/*pc*/
@media screen and (min-width: 1025px) {
  #title--left {
    margin-left: 15vw;
  }
  #title--right {
    margin-right: 15vw;
  }

  #link-to-top {
    margin-left: 15vw;
  }
}
#title {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
#title--left {
  display: inline-flex;
}
#title--left h2 {
  font-size: 1.5rem;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 0.5rem;
}
#title--left--logo {
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 0.5rem;
}
#title--right--menu {
  margin-top: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
}
#title--right--menu--content {
  width: 18rem;
  color: white;
  background-color: rgba(51, 51, 51, 0.9);
  position: fixed;
  opacity: 0;
  top: 0;
  right: -300px;
  margin: auto;
  transition: all 0.3s;
}
#title--right--menu--content #close {
  text-align: left;
  font-size: 35px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}
#title--right--menu--content li {
  border-top: 1px #999999 dotted;
}
#title--right--menu--content li > a {
  display: inline-block;
  padding: 1rem;
  width: 100%;
}
#title--right--menu--content li:hover {
  background-color: rgba(119, 119, 119, 0.9);
}
#title--right--menu--content.show {
  opacity: 1;
  right: 0;
}

#link-to-top--container {
  background-color: #009900;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  text-decoration: underline;
  font-size: 0.7rem;
}
#link-to-top--container a {
  color: white;
}

/*sp*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  #search-box {
    width: 100%;
  }
}
/*タブレット*/
@media screen and (min-width: 481px) and (max-width: 1024px) {
  #search-box {
    width: 35%;
  }
}
/*pc*/
@media screen and (min-width: 1025px) {
  #search-box {
    width: 35%;
  }
}
#search-box--main {
  display: inline-flex;
  text-align: left;
  flex-wrap: wrap;
  align-content: space-between;
}
#search-box--title {
  text-align: left;
  font-size: 1.2rem;
}

.search-items {
  font-size: 0.7rem;
  width: 100%;
}
.search-items select, .search-items input {
  font-size: 0.6rem;
}
.search-items select {
  width: 95%;
}

#is_only_foreign_ok-container {
  text-align: left;
}

#is_only_foreign_ok--label {
  font-size: 0.7rem;
}

#submit-button--container {
  width: 100%;
}

#submit-button {
  width: 200px;
  height: 40px;
  font-size: 20px;
  color: white;
  background-color: #009900;
  border: outset 1px #00BB00;
  cursor: pointer;
}

.page-switch {
  display: inline-flex;
  justify-content: center;
}
.page-switch--nums {
  font-size: 0.6rem;
  margin: 0.5rem;
}
.page-switch--nums a {
  color: blue;
  text-decoration: underline;
}
.page-switch--nums.strong.disabled a {
  font-weight: bold;
  font-size: 1rem;
  pointer-events: none;
  color: black !important;
  text-decoration: none;
}

/*sp*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  .article--content--list--item {
    width: 100%;
  }
}
/*タブレット*/
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .article--content--list--item {
    width: 50%;
  }
}
/*pc*/
@media screen and (min-width: 1025px) {
  .article--content--list--item {
    width: 50%;
  }
}
.article--content--list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.article--content--list--item {
  display: flex;
  height: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.article--content--list--item--img {
  width: 4rem;
  height: 4rem;
  padding: 2px;
}
.article--content--list--item--title {
  font-size: 0.9rem;
  margin-left: 10px;
  text-align: left;
}
.article--content--list--item--title a {
  color: #444444;
}

#recommend-articles {
  font-size: 0.8rem;
}
#recommend-articles li {
  list-style: disc;
  text-decoration: underline;
}

#link-to-articleList {
  color: blue;
  font-size: 0.8rem;
  text-decoration: underline;
}

#followingLink-to-searchbox {
  position: fixed;
  width: 60vw;
  padding: 0.5rem;
  color: white;
  background-color: #009900;
  transition: all 0.4s;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
}
#followingLink-to-searchbox.hidden {
  transform: translateY(100px);
  opacity: 0;
}
#followingLink-to-searchbox.fixed {
  transform: translateY(0);
  opacity: 1;
}

#tab-area {
  display: flex;
  cursor: pointer;
}
#tab-area .tab {
  border: 1px solid #009900;
  border-radius: 10px 10px 0 0;
  margin: 1px;
  color: #00BB00;
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#tab-area .tab.active {
  background-color: #009900;
  color: white;
}
#tab-area--explain {
  font-size: 0.7rem;
  padding-top: 0.2rem;
}

#result {
  border: 2px solid #009900;
}
#result--container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#result--container .subTitle {
  padding-left: 1rem;
}
#result a {
  color: blue;
}
#result .tab-content {
  display: none;
}
#result .tab-content.show {
  display: block;
  font-size: 0.5rem;
  padding: 0.5rem;
  background-color: transparent;
}
#result .tab-content.show .no-result {
  font-size: 0.7rem;
}
#result .tab-content.show .total {
  font-size: 0.8rem;
}
#result .tab-content.show .supportBox {
  border: 1px solid #cccccc;
  box-shadow: 0px 0px 2px;
  margin-bottom: 1rem;
  padding: 2px;
  background-color: white;
}
#result .tab-content.show .supportBox li {
  list-style: disc;
}
#result .tab-content.show .supportBox .owner {
  border-bottom: 1px solid #cccccc;
}
#result .tab-content.show .supportBox table, #result .tab-content.show .supportBox td {
  border: 1px solid #cccccc;
  border-collapse: collapse;
  font-size: 0.6rem;
}
#result .tab-content.show .supportBox table, #result .tab-content.show .supportBox tr {
  width: 100%;
}
#result .tab-content.show .supportBox .td-column {
  width: 20%;
}
#result .tab-content.show .supportBox .td-content {
  width: 80%;
  padding: 3px;
}
#result .link-to-searchbox {
  font-size: 0.8rem;
}

/*# sourceMappingURL=result.css.map */
