@use '../components/common';
@use '../components/vars' as vars;
@use '../components/header';


#note {
    font-size: 0.7rem;
    color: #333333;
}

.administrators {
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    &--part {
        font-size: 0.9rem;
        text-decoration: underline solid vars.$baseColor;
    }

    &--main {
        font-size: 0.8rem;
        color: #333333;
    }
}