@use '../components/common';
@use '../components/vars' as vars;
@use '../components/header';


#guideline {

    &--personalInfo {

        &--main {

            & > li {
               list-style: none; 
            }
        }
    }

}

.guideline--mains {
    font-size: 0.8rem;

    & > li {
        list-style-type: decimal;
        margin: 0.7rem 0.5rem;
        word-wrap: break-word;
    }

}