

$articleColor: #444444;
$articleBGColor: #EEEEEE;

/*sp*/
@media screen and (min-width: 320px) and (max-width: 480px){

    .article-box--list--item {
        width: 100%;
    }
}

/*タブレット*/
@media screen and (min-width: 481px) and (max-width: 1024px){

    .article-box--list--item {
        width: 50%;
    }
}

/*pc*/
@media screen and (min-width: 1025px){

    .article-box--list--item {
        width: 50%;
    }
}


.article-box--list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &--item {
        display: flex;
        $itemHeight: 4rem;
        height: $itemHeight;
        $itemMarginVertical: 1rem;
        margin-top: $itemMarginVertical;
        margin-bottom: $itemMarginVertical;

        &:hover {
            background-color: #DDDDDD;
        }

        &--img {
            width: $itemHeight;
            height: $itemHeight;
            padding: 2px;
        }

        &--title {
            font-size: 0.9rem;
            margin-left: 10px;
            text-align: left;

            p {
                color: $articleColor;
            }
        }
    }
}