@use './vars' as vars;

#article--content, .editor-preview {

    font-size: 0.8rem;
    overflow-wrap: break-word;

    .red {
        color: red;
    }

    a {
        color: blue;

        &:hover {
            text-decoration: underline;
        }
    }
    //  h element
    h1, h2, h3, h4 {
        font-size: 1.3rem;
        $border: 2px;
        border-bottom: $border solid #ddd;
        border-left: $border solid vars.$baseColor;
        padding-right: 1rem;
    }

    li {
        list-style: disc !important;
    }
}