@use './vars' as vars;


/*スマホ*/
@media screen and (min-width: 320px) and (max-width: 480px){
    html{
        font-size: 11px;
    }
}

/*タブレット*/
@media screen and (min-width: 481px) and (max-width: 1024px){
    html{
        font-size: 18px;
    }  
}


/*pc*/
@media screen and (min-width: 1025px){
    html{
        font-size: 22px;
    }
}

* {
    box-sizing: border-box;
}

li{
    list-style: none;
    
}

a {
    text-decoration: none;
}


body {
    margin: 0;
}

main {
    background-color: vars.$mainBGColor;
    padding-top: 2rem;
    padding-bottom: 5rem;
}


// library

.bold {
    font-weight: bold;
}

.lighter {
    font-weight: lighter;
}

.red{
    color:red;
   
}

.green {
    color: green;
}

.black {
    color: black;
}

.break-word {
    overflow-wrap: break-word;
}

.block-start0{
    margin-block-start: 0;
}

.block-end0{
    margin-block-end: 0;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.flex {
    display: flex;
}

.inline-block{
    display: inline-block;
}
