

.confirmation {
    display: none;
    position: fixed;
    height: 100px;
    width: 400px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    background-color: #EEEEEE;
    border: black solid 1px;
    text-align: center;

    &.show {
        display: block;
    }


    &--button-container {
        display: inline-flex;
        justify-content: space-around;
        width: 100%;

        .confirmation--buttons {
            font-size: 1.2em;
        }

    }

    &--main-button {
        background-color: blue;
        color: white;
    }

    &--back-button {
        background-color: white;
        border: black solid 1px;
        padding: 5px;
        background-color: white;
        cursor: pointer;
    }
}