
@use './vars' as vars;


#header {
    position: fixed;
    width: 100vw;
    top: 0;
    margin: auto;
}

#dummy-header {
    background-color: vars.$mainBGColor;
}


/*スマホ*/
@media screen and (min-width: 320px) and (max-width: 480px){
    $headerMargin: 10vw;
    #title{
        &--left {
            margin-left: $headerMargin;
        }

        &--right {
            margin-right: $headerMargin;
        }
    }
    #link-to-top {
        margin-left: $headerMargin;
    }
}

/*タブレット*/
@media screen and (min-width: 481px) and (max-width: 1024px){
    $headerMargin: 5vw;
    #title{
        &--left {
            margin-left: $headerMargin;
        }

        &--right {
            margin-right: $headerMargin;
        }
    } 
    #link-to-top {
        margin-left: $headerMargin;
    }
}


/*pc*/
@media screen and (min-width: 1025px){
    $headerMargin: 15vw;
    #title{
        &--left {
            margin-left: $headerMargin;
        }

        &--right {
            margin-right: $headerMargin;
        }
    }
    #link-to-top {
        margin-left: $headerMargin;
    }
}
    
#title{
    display: flex;
    justify-content: space-between;
    background-color: white;  
    color:black;
    padding-top: 1rem;

    &--left {
        display: inline-flex;


        h2 {
            font-size: 1.5rem;
            margin-block-start: 0;
            margin-block-end: 0;

            margin-top: 0.5rem;
        }

        &--logo {
            
            $size: 5rem;
            height: $size;
            width: $size * 3;
        }
    }

    &--right {
        &--menu {

            margin-top: 1rem;
            font-size: 1.4rem;
            cursor: pointer;
            font-weight: bold;

            &--content {
                $alpha: 0.9; //背景の透明度

                width: 18rem;
                color: white;
                background-color: rgba(51,51,51,$alpha);
                position: fixed;

                opacity: 0;
                top: 0;
                right: -300px;
                margin: auto;

                transition: all 0.3s;

                #close {
                    text-align: left;
                    font-size: 35px;
                    $margin: 0.5rem;
                    margin-top: $margin;
                    margin-bottom: $margin;
                    padding-left: 1rem;
                }

                li {
                    border-top: 1px #999999 dotted;

                    & > a {
                        display: inline-block;
                        padding: 1rem;
                        width: 100%;
                    }

                    &:hover {
                        background-color: rgba(119,119,119,$alpha);
                    }
                    
                }

                &.show {
                    opacity: 1;
                    right: 0;
                }
                
            }
        }
    }
    
    
}

#link-to-top--container {
    background-color: vars.$baseColor;
    $TBPadding: 0.3rem;
    padding-top: $TBPadding;
    padding-bottom: $TBPadding;
    text-decoration: underline;
    font-size: 0.7rem;
    
    a {
        color: white;
    }
}
