@use './vars' as vars;

/*header*/
#title-container {
    display: flex;
    justify-content: space-between;
    background-color: white;  
    color:black;
    padding: 0.5rem;
    border-bottom: 1rem solid vars.$baseColor;
}
    
#title{
    margin-block-start: 0;
    margin-block-end: 0;

    margin-left: 1rem;
    margin-right: 0.7rem;

    &--logo {
        $size: 2.5rem;
        height: $size;
        width: $size;

        margin-top: 0.5rem;
    }

    
    &--menu {
        margin-right: 3rem;
        margin-top: 1.5rem;
    }
}

#header-menu-container{
    background-color: vars.$baseColor;  
    display: flex;
    flex-wrap: wrap;
}

.header-menu-items {
    margin-block-start: 2px;
    margin-block-end: 2px;

    a{
        margin:1rem;
        font-size: 0.8rem;
        color:white;
        text-decoration: underline;
    }
}
