@use './vars' as vars;

.nav--absolute {
    background-color: vars.$baseColor;
    position: fixed;
    width: 60vw;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0.5rem;
    color: white;

}


