.page-switch {
    display: inline-flex;
    justify-content: center;

    &--nums {
        font-size: 0.8rem;
        margin: 0.5rem;

        a {
            color: blue;
            text-decoration: underline;
        }

        
        &.strong.disabled a{
            font-weight: bold;
            font-size: 1.2rem;
            pointer-events: none;
            color: black !important;
            text-decoration: none;
        }       
    }
}