@use './vars' as vars;

#search-box{
    display: block;
    border: 2px solid vars.$baseColor;
    border-radius: 1rem;
    text-align: center;
    background-color: white;
    width: 35%;
    padding: 0.5rem;

    &--main{
        display: inline-flex;
        text-align: left;
        flex-wrap: wrap;
        align-content: space-between;
    }
}


#search-box--title {
    text-align: left;
}


.search-items {
    font-size: 0.7rem;
    width: 100%;

    select,input{
        font-size: 0.6rem;
    }

    select {
        width: 90%;
    }
}


#is_only_foreign_ok-container {
    text-align: left;
    padding-left: 1rem;
}

#is_only_foreign_ok--label{
    font-size: 0.7rem;
}

#submit-button--container {
    width: 100%;
}

#submit-button {
    width: 90%;
    font-size: 0.9rem;
}





