@use './vars' as vars;


#search-box{

    &--main{
        display: inline-flex;
        text-align: left;
        flex-wrap: wrap;
        align-content: space-between;
    }

    &--title {
        text-align: left;
        font-size: vars.$subTitleFontSize;
    }
}


.search-items {
    font-size: 0.9rem;
    width: 100%;

    select,input{
        font-size: 0.8rem;
    }

    select {
        width: 95%;
    }
}


#is_only_foreign_ok-container {
    text-align: left;
    //padding-left: 5px;
}

#is_only_foreign_ok--label{
    font-size: 0.7rem;
}

#submit-button--container {
    width: 100%;
}

#submit-button {
    width: 200px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: vars.$baseColor;
    border: outset 1px vars.$lightColor;

    cursor: pointer;
}





