/* header */

#header {
    height: 7rem;
    background-color: #444444;
    margin-bottom: 5rem;
}

#title {
    color : white;
    text-align: center; 
    font-size: 2rem;
    padding-top: 2rem;
}
