$gapBtwnBoxes: 1rem;
$bgColor: white;
$boxPadding: 0.5rem;

#main--sidebar {
    display: inline-block;
    width: 20vw;
    vertical-align: top;

    a:hover{
        text-decoration: underline;
    }

    #search-container {
        //height:5rem;
        background-color: $bgColor;
        margin-bottom: $gapBtwnBoxes;
        padding: $boxPadding;

        #search-box {
            height: 1.5rem;
            width: 80%;
        }

        p {
            font-size: 0.8rem;
            margin-block-end: 0;
        }

        a {
            color: blue;
        }
    }

    #category-list-container {
        background-color: $bgColor;
        margin-bottom: $gapBtwnBoxes;
        padding: $boxPadding;

        p {
            font-size: 1rem;
            margin-block-start: 0px;
        }

        ul#category-list {
            padding-inline-start: 0;

            li {
                font-size: 18px;
                color: #191970;
                margin: 0.7rem;

                

                ul#subCategory-list {
                    height: 0;
                    padding-inline-start: 1rem;
                    visibility: hidden;

                }

                input.category-checkbox:checked ~ ul#subCategory-list {
                    height: auto;
                    visibility: visible;

                    li  {
                        font-size: 0.8em;
                    }
                    
                }
            }
            
        }
    }

    #my-profile {
        padding: $boxPadding;
        background-color: $bgColor;

        &--img-container{
            height: 5rem;
            width: 5rem;
            margin: 0 auto;
        }

        &--name {
            text-align: center;
            margin-block-start: 0.5rem;
            margin-block-end: 0.5rem;
        }

        &--txt {
            font-size: 0.7rem;
        }
    }
}
