@charset "UTF-8";
/*スマホ*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 11px;
  }
}
/*タブレット*/
@media screen and (min-width: 481px) and (max-width: 1024px) {
  html {
    font-size: 18px;
  }
}
/*pc*/
@media screen and (min-width: 1025px) {
  html {
    font-size: 22px;
  }
}
* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

main {
  background-color: #CBFFD3;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

/*sp*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  .main--single, .main--double {
    width: 80vw;
  }

  .main--double--right {
    width: 100%;
  }
}
/*タブレット*/
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .main--single, .main--double {
    width: 90vw;
  }

  .main--double--right {
    width: 60%;
    margin-left: 5%;
  }
}
/*pc*/
@media screen and (min-width: 1025px) {
  .main--single, .main--double {
    width: 70vw;
  }

  .main--double--right {
    width: 60%;
    margin-left: 5%;
  }
}
.main--single {
  display: inline-block;
  border: solid 2px #009900;
  border-radius: 1rem;
  overflow-wrap: break-word;
  background-color: white;
  padding: 1rem;
  margin-top: 2rem;
}

.main--double {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: left;
}
.main--double--right {
  border: solid 2px #009900;
  border-radius: 1rem;
  background-color: white;
  margin-top: 2rem;
  padding: 1rem 1rem 0.5rem 0.5rem;
}

.subTitle {
  font-size: 1.2rem;
}

.larger {
  font-size: 1.5em;
}

.bold {
  font-weight: bold;
}

.lighter {
  font-weight: lighter;
}

.red {
  color: red;
}

.green {
  color: green;
}

.black {
  color: black;
}

.break-word {
  overflow-wrap: break-word;
}

.block-start0 {
  margin-block-start: 0;
}

.block-end0 {
  margin-block-end: 0;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/*header*/
#title-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-bottom: 1rem solid #009900;
}

#title--left {
  display: inline-flex;
}
#title--left h2 {
  font-size: 1.5rem;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 0.5rem;
  margin-left: 1rem;
}
#title--left--logo {
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 0.5rem;
}
#title--right--menu {
  margin-right: 3rem;
  margin-top: 1.5rem;
}

#header-menu-container {
  background-color: #009900;
  display: flex;
  flex-wrap: wrap;
}

.header-menu-items {
  margin-block-start: 2px;
  margin-block-end: 2px;
}
.header-menu-items a {
  margin: 1rem;
  font-size: 0.8rem;
  color: white;
  text-decoration: underline;
}

/*sp*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  .article--content--list--item {
    width: 100%;
  }
}
/*タブレット*/
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .article--content--list--item {
    width: 50%;
  }
}
/*pc*/
@media screen and (min-width: 1025px) {
  .article--content--list--item {
    width: 50%;
  }
}
.article--content--list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.article--content--list--item {
  display: flex;
  height: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.article--content--list--item--img {
  width: 4rem;
  height: 4rem;
  padding: 2px;
}
.article--content--list--item--title {
  font-size: 0.9rem;
  margin-left: 10px;
  text-align: left;
}
.article--content--list--item--title a {
  color: #444444;
}

#articles--title {
  color: #444444;
  background-color: #EEEEEE;
}

.article--content--category {
  display: inline-block;
  color: #444444;
  background-color: #EEEEEE;
  font-size: 0.9rem;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/*# sourceMappingURL=articleList.css.map */
