
@import url(/asset/stylesheet/components/common.css);

.container{
    
    margin:0.583rem;
    height: 300px;
    width: 200px;
}

.container h4{
    font-size:0.55rem;
}

.container p{
    font-size: 0.5rem;
}

.link{
    font-size: 1rem;
}


/*適当、いい感じに調整してg*/
.thumbnail{
    width: 100%;
    height: 50%;
}

.wrapper{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    
}

table{
    width:100%;
    
}

table th{
    background: aquamarine;
}

#area{
    width:6%;
}
    

