
@import url(/asset/stylesheet/components/common.css);

.container{
    font-size:1rem;
    margin:0.2rem;
    width: 20%; 
    flex: auto;
}

*{
    box-sizing: border-box;

}

.name{
    
  
    
    text-align: center;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
}

