
@import url(/asset/stylesheet/components/common.css);
@import url(/asset/stylesheet/components/searchbox.css);

#recommend-articles--box {
    display: inline-block;
    background-color: white;
    border: solid 2px #009900;
    border-radius: 1rem;
    margin-top: 1rem;
    font-size: 0.7rem;
}

table{
    width:100%;
        
}


table th{
    
    border:1px solid #333;
    background: aquamarine;
}

table td{
    
    border:1px solid #333;
}

    
