html{
    font-size:15px;

}

header{
    background-color: rgb(0, 255, 221);  
    color:white;
    padding: 2rem;
  }
    
  .header-logo{
      font-size:3rem;
      float: left;
      margin:1rem;
      
  }
  
  li{
      list-style: none;
     
  }
  
  .header-list li{
       float:right;
       margin:1rem;
       font-size:1rem;
  }

.container{
    font-size:1rem;

}

.name{
    width:25%;
}



